<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Landing pages - real account registration">
    <test name="Account registration - FCA regulative">
        <parameter name="regulative" value="FCA"/>
        <classes>
            <class name="Tests.LandingPageTest1_FCA"/>
        </classes>
    </test>
</suite>